/* Main body */

body {
     background: linear-gradient(to right, rgb(48, 18, 54), #450b4e);
     text-align: center;
}

/* Title */

.title {
    color: limegreen;
    font-size: 3rem;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    
}

/* Game board */

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: whitesmoke;
    background-color: red;
}

.box:hover {
    background-color: rgb(245, 151, 151);
}

/* Disable hover over box once selected */

.box.disabled {
    pointer-events: none;
    opacity: 0.7;
}

/* Reset button */

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    background: #191913;
    color: whitesmoke;
    border-radius: 1rem;
    border: none;
}

#reset:hover {
    background: orange;
    cursor: pointer;
}

#winnerMessage {
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
}